<mat-card class="example-card">
  <mat-card-title
    ><a [routerLink]="['/weather']" [state]="{ city: favoriteItem.city }">{{
      favoriteItem.city
    }}</a>
  </mat-card-title>
  <mat-card-content>
    <p>{{ favoriteItem.temperature | temperatureConverter }}</p>
    <p>{{ favoriteItem.weather }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with favorite icon"
      (click)="favoriteChange()"
    >
      <mat-icon>
        {{ favoriteItem.isFavorite ? "favorite" : "favorite_border" }}
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
